.main-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-item .mud-nav-item .mud-nav-link-text {
    font-weight: bold;
    background-color: pink;
}
.main-content{
    text-align:center;    
}
.main-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}