@inherits LayoutComponentBase

<div class="main-container">
    <main class="main-content">
        <article>
            @Body
        </article>
    </main>

    <div class="main-navbar">
        <NavMenu/>
    </div>
</div>
