.nav-container{
    display:flex;
}

#nav-workouts{
    background-color:aqua;
    text-align:center;
    width:100%;
}


#nav-excercises {
    background-color: red;
    text-align:center;
    width: 100%;
}


#nav-settings {
    background-color: dodgerblue;
    text-align:center;
    width: 100%;
}