<nav class="nav-container">
    <div id="nav-workouts">
        <NavLink href="/">Workouts</NavLink>
    </div>

    <div id="nav-excercises">
        
        <NavLink href="/counter">Excercises</NavLink>
    </div>
    <div id="nav-settings">
        
        <NavLink>Settings</NavLink>
    </div>
</nav>